@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

* {
  padding: 0;
  margin: 0;

  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: -0.75px;
}

.horizontal-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: rgb(80, 80, 80);
  height: 100vh;
  width: 3rem;
  z-index: 3;
}

.horizontal-nav #admin-toggle {
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.horizontal-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 0.5rem;
}

.horizontal-nav ul li:first-child {
  margin-bottom: 1rem;
}
.horizontal-nav ul li a {
  text-decoration: none;
  color: white;
}

.horizontal-nav ul li a img {
  width: 2rem;
  height: 2rem;
}

.hidden {
  display: none;
}

.horizontal-nav .active {
    border-bottom: 1px solid white;
}

/*Custome timeline context menu*/
#timeLineContextMenu {
  position: absolute;
  width: fit-content;
  white-space: nowrap;
  border-radius: 0.5rem;
}

#timeLineContextMenu ul {
  display: flex;
  align-items: flex-start;
  padding: 0;
  gap: 0;
}

#timeLineContextMenu ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #2B2B2BFF;
  margin: 0;
  width: 100%;
  padding: 0.5rem .5rem 0.5rem 1rem;
  font-size: small;
  color: white;
  cursor: pointer;
}

#timeLineContextMenu ul li p {
  cursor: pointer;
}

#timeLineContextMenu ul li img {
  width: 1.3rem;
}

#timeLineContextMenu ul li:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

#timeLineContextMenu ul li:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}

#timeLineContextMenu ul li:hover {
  background: #555555;
}
